html, body, main {
    height: 100%;
}

body {
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
}

.frame-slider {
    -webkit-appearance: none;
    margin-bottom: 0.6em;
    /* Remove default background so transparent track works */
    background: transparent;
}

.frame-slider:focus {
    /* Remove default focus outline */
    outline: none;
}

.frame-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 6px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 0;
}

.frame-slider::-webkit-slider-runnable-track {
    width: 100%;
    /* Increase height to make it easier to click */
    height: 20px;
    cursor: pointer;
    /* Simulate a thin track using a gradient, while keeping the actual element tall for the hit area */
    background: linear-gradient(to bottom, transparent 0px, transparent 7px, var(--vscode-checkbox-border) 7px, var(--vscode-checkbox-border) 8px, var(--vscode-checkbox-foreground) 8px, var(--vscode-checkbox-foreground) 12px, var(--vscode-checkbox-border) 12px, var(--vscode-checkbox-border) 13px, transparent 13px, transparent 100%);
    border: none;
}

@keyframes codicon-spin {
    100% {
        transform: rotate(360deg);
    }
}

.codicon-play::before { content: '\eb2c'; }
.codicon-pause::before { content: '\ead1'; }
.codicon-debug-step-back::before { content: '\eb8f'; }
.codicon-debug-step-over::before { content: '\ead6'; }

.codicon-loading::before { content: '\eb19'; }
.codicon-loading {
    animation: codicon-spin 1.5s steps(30) infinite;
}